{% extends 'base.html' %}
{% load static %}

{% block title %}Trang Quản lý Tab{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">QUẢN LÝ DANH MỤC HÀNG HOÁ</h2>

    <!-- Nav pills (Tab Navigation) -->
    <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-PNK-tab" data-bs-toggle="pill" href="#pills-PNK" role="tab" aria-controls="pills-PNK" aria-selected="true">NHẬP KHO</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-PXK-tab" data-bs-toggle="pill" href="#pills-PXK" role="tab" aria-controls="pills-PXK" aria-selected="false">XUẤT KHO</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-create-tab" data-bs-toggle="pill" href="#pills-create" role="tab" aria-controls="pills-create" aria-selected="false">TẠO MỚI MÃ HÀNG</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-log-PNK-tab" data-bs-toggle="pill" href="#pills-log-PNK" role="tab" aria-controls="pills-log-PNK" aria-selected="false">NHẬT KÝ NHẬP KHO</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-log-PXK-tab" data-bs-toggle="pill" href="#pills-log-PXK" role="tab" aria-controls="pills-log-PXK" aria-selected="false">NHẬT KÝ XUẤT KHO</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-report-tab" data-bs-toggle="pill" href="#pills-report" role="tab" aria-controls="pills-report" aria-selected="false">BÁO CÁO TỒN KHO</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="pills-tabContent">
        <!-- Content for Tab 1 -->
        <div class="tab-pane fade show active" id="pills-PNK" role="tabpanel" aria-labelledby="pills-PNK-tab">
            <h4>PHIẾU NHẬP KHO</h4>
            
            <!-- Ngày và số phiếu -->
            <div class="row">
                <div class="col">
                    {% include 'includes/frameDate.html' %}
                </div>
                <div class="col">
                    {% include 'includes/frameSlipNumber.html' %}
                </div>
            </div>

            <!-- Thông tin phiếu -->
            <div class="row">
                <div class="col">
                    {% include 'includes/frameInfoNhaCungCap.html' %}
                </div>
                <div class="col">
                    {% include 'includes/frameInfoInventory.html' %}
                </div>
            </div>
            
            <div class="row">
                <div class="row">
                    {% include 'includes/frameInfoRequestNumber.html' %}
                </div>
            </div>

            <!-- Nút tương tác với bảng -->
            <div class="text-center">
                <button class="btn btn-primary">Add Row</button>
                <button class="btn btn-warning">Update Row</button>
                <button class="btn btn-danger">Delete Row</button>
                <button class="btn btn-secondary">Clear Rows</button>
            </div>
            
            <!-- Bảng -->
            <div>
                <!-- {% include 'includes/table.html' %} -->
                {% include 'includes/table.html' with json_path=json_path_tab1 %}
            </div>

            <!-- Nút tương tác với phiếu -->
            <div class="row">
                <div class="col text-center mb-1">
                    <button class="btn btn-primary">Template</button>
                    <button class="btn btn-warning">Get file</button>
                </div>

                <div class="col text-center mb-1">
                    <button class="btn btn-primary">Print</button>
                    <button class="btn btn-warning">Save</button>
                    <button class="btn btn-danger">update</button>
                </div>
            </div>
        </div>

        <!-- Content for Tab 2 -->
        <div class="tab-pane fade" id="pills-PXK" role="tabpanel" aria-labelledby="pills-PXK-tab">
            <h4>PHIẾU XUẤT KHO</h4>

            <!-- Ngày và số phiếu -->
            <div class="row">
                <div class="col">
                    {% include 'includes/frameDate.html' %}
                </div>
                <div class="col">
                    {% include 'includes/frameSlipNumber.html' %}
                </div>
            </div>

            <!-- Thông tin phiếu -->
            <div class="row">
                <div class="col">
                    {% include 'includes/frameInfoNhaCungCap.html' %}
                </div>
                <div class="col">
                    {% include 'includes/frameInfoInventory.html' %}
                </div>
            </div>
            
            <div class="row">
                <div class="row">
                    {% include 'includes/frameInfoRequestNumber.html' %}
                </div>
            </div>

            <!-- Nút tương tác với bảng -->
            <div class="text-center">
                <button class="btn btn-primary">Add Row</button>
                <button class="btn btn-warning">Update Row</button>
                <button class="btn btn-danger">Delete Row</button>
                <button class="btn btn-secondary">Clear Rows</button>
            </div>

            <!-- Bảng -->
            <div>
                <!-- {% include 'includes/table.html' %} -->
                {% include 'includes/table.html' with json_path=json_path_tab2 %}
            </div>

            <!-- Nút tương tác với phiếu -->
            <div class="row">
                <div class="col text-center mb-1">
                    <button class="btn btn-primary">Template</button>
                    <button class="btn btn-warning">Get file</button>
                </div>

                <div class="col text-center mb-1">
                    <button class="btn btn-primary">Print</button>
                    <button class="btn btn-warning">Save</button>
                    <button class="btn btn-danger">update</button>
                </div>
            </div>
        </div>

        <!-- Content for Tab 3 -->
        <div class="tab-pane fade" id="pills-create" role="tabpanel" aria-labelledby="pills-create-tab">
            <h4>TẠO MỚI MÃ HÀNG</h4>

            <div class="row">
                <div class="col">
                    {% include 'includes/frameDate.html' %}
                </div>
                <div class="col">
                    {% include 'includes/frameSlipNumber.html' %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

