<div class="container my-1">
    <!-- Form nhập liệu -->
    <div class="card p-4 shadow-sm">
        <form>
            <div class="row mb-3">
                <!-- Trường Nhà cung cấp -->
                <div class="col-md-2">
                    <label for="supplier" class="form-label">Mã hàng:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="supplier-id" placeholder="search here">
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="supplier-name" placeholder="Tên hàng">
                </div>
            </div>
        </form>
    </div>
</div>
