<div class="container my-1">
    <!-- Form nhập liệu -->
    <div class="card p-4 shadow-sm">
        <form>
            <div class="row">
                <!-- Trường Nhà cung cấp -->
                <div class="col-md-2">
                    <label for="supplier" class="form-label">Nhà cung cấp:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="supplier-id" placeholder="search here">
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="supplier-name" placeholder="Tên nhà cung cấp">
                </div>
            </div>

            <!-- Các trường nhập liệu còn lại nằm trên cùng một hàng -->
            <div class="row mb-3">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="supplier-tax-number" placeholder="Mã số thuế">
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="supplier-address" placeholder="Địa chỉ">
                </div>
            </div>
        </form>
    </div>
</div>
