{% load static %}

<div class="container my-1">
    <!-- Table -->
    <div class="card p-4 shadow-sm">
        <div class="table-responsive" style="max-height: 200px; min-height: 200px;">
            <table class="table table-bordered" id="data-table">
                <thead>
                    <tr id="table-header_PNK"></tr> <!-- Headers will be inserted dynamically -->
                </thead>
                <tbody id="table-body_PNK"></tbody> <!-- Data rows will be inserted dynamically -->
            </table>
        </div>
    </div>
</div>

<script src="{% static 'js/table.js' %}"></script>

<!-- Include the external CSS file -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
